name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC trusted publishing
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - name: Install
        run: npm ci --ignore-scripts --no-audit --no-fund

      - name: Publish
        run: NODE_AUTH_TOKEN="" npm publish
